@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Synteda Online Resume Center</h1>
    <h2 class="display-2">Here you could create your resume from begining</h2>

    
</div>
