@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<<<<<<< HEAD
    <h1 class="display-4">Welcome To Synteda Online Resume Center</h1>
    <h2 class="display-2">Here you could create your resume from begining</h2>

    
=======
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
>>>>>>> 381f5bcd1dc8994e048975415536031dcf9c4a2d
</div>
